<a href="https://colab.research.google.com/github/git791/FDE_LAB_3/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
path = "/content/drive/MyDrive/FDE/customers.csv"

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/FDE/customers.csv")

In [ ]:
print(df)

    customer_id   customer_name  age gender       city account_type  \
0             1      Ravi Kumar   28      M      Delhi      Premium
1             2    Anita Sharma   34      F        NaN     Standard
2             3      Suresh Rao   45      M  Bengaluru      Premium
3             3      Suresh Rao   45      M  Bengaluru      Premium
4             4     Priya Singh   29      F    Chennai     Standard
5             5      Amit Verma   41      M        NaN      Premium
6             6      Neha Gupta   26      F    Kolkata     Standard
7             7     Rahul Mehta   37      M     Mumbai      Premium
8             8     Kavita Nair   32      F        NaN     Standard
9             9     Arjun Patel   39      M  Ahmedabad      Premium
10           10      Sunita Das   44      F    Kolkata     Standard
11           11      Manoj Iyer   51      M    Chennai      Premium
12           12  Pooja Malhotra   27      F      Delhi     Standard
13           13    Deepak Joshi   35      M        NaN     Standard
14           14  Meena Kulkarni   48      F       Pune      Premium
15           15   Rohit Agarwal   31      M      Noida     Standard
16           16      Anjali Sen   29      F        NaN     Standard
17           17    Vikas Bansal   42      M    Gurgaon      Premium
18           18     Shalini Roy   36      F  Bengaluru     Standard
19           19    Nitin Saxena   50      M      Delhi      Premium
20           20    Rekha Mishra   33      F        NaN     Standard

    annual_spend
0         120000
1          85000
2         150000
3         150000
4          72000
5         132000
6          68000
7         140000
8          75000
9         110000
10         90000
11        160000
12         65000
13         80000
14        145000
15         78000
16         70000
17        155000
18         82000
19        170000
20         69000

#Removing Reduntant Rows

In [ ]:
new_df = df.drop_duplicates(keep = "first")

In [ ]:
print(new_df)

    customer_id   customer_name  age gender       city account_type  \
0             1      Ravi Kumar   28      M      Delhi      Premium
1             2    Anita Sharma   34      F        NaN     Standard
2             3      Suresh Rao   45      M  Bengaluru      Premium
4             4     Priya Singh   29      F    Chennai     Standard
5             5      Amit Verma   41      M        NaN      Premium
6             6      Neha Gupta   26      F    Kolkata     Standard
7             7     Rahul Mehta   37      M     Mumbai      Premium
8             8     Kavita Nair   32      F        NaN     Standard
9             9     Arjun Patel   39      M  Ahmedabad      Premium
10           10      Sunita Das   44      F    Kolkata     Standard
11           11      Manoj Iyer   51      M    Chennai      Premium
12           12  Pooja Malhotra   27      F      Delhi     Standard
13           13    Deepak Joshi   35      M        NaN     Standard
14           14  Meena Kulkarni   48      F       Pune      Premium
15           15   Rohit Agarwal   31      M      Noida     Standard
16           16      Anjali Sen   29      F        NaN     Standard
17           17    Vikas Bansal   42      M    Gurgaon      Premium
18           18     Shalini Roy   36      F  Bengaluru     Standard
19           19    Nitin Saxena   50      M      Delhi      Premium
20           20    Rekha Mishra   33      F        NaN     Standard

    annual_spend
0         120000
1          85000
2         150000
4          72000
5         132000
6          68000
7         140000
8          75000
9         110000
10         90000
11        160000
12         65000
13         80000
14        145000
15         78000
16         70000
17        155000
18         82000
19        170000
20         69000

#Handling Missing Values : NULL City values = "Unknown"

In [ ]:
new_df['city'] = new_df['city'].fillna('unknown')
print(new_df)

    customer_id   customer_name  age gender       city account_type  \
0             1      Ravi Kumar   28      M      Delhi      Premium
1             2    Anita Sharma   34      F    unknown     Standard
2             3      Suresh Rao   45      M  Bengaluru      Premium
4             4     Priya Singh   29      F    Chennai     Standard
5             5      Amit Verma   41      M    unknown      Premium
6             6      Neha Gupta   26      F    Kolkata     Standard
7             7     Rahul Mehta   37      M     Mumbai      Premium
8             8     Kavita Nair   32      F    unknown     Standard
9             9     Arjun Patel   39      M  Ahmedabad      Premium
10           10      Sunita Das   44      F    Kolkata     Standard
11           11      Manoj Iyer   51      M    Chennai      Premium
12           12  Pooja Malhotra   27      F      Delhi     Standard
13           13    Deepak Joshi   35      M    unknown     Standard
14           14  Meena Kulkarni   48      F       Pune      Premium
15           15   Rohit Agarwal   31      M      Noida     Standard
16           16      Anjali Sen   29      F    unknown     Standard
17           17    Vikas Bansal   42      M    Gurgaon      Premium
18           18     Shalini Roy   36      F  Bengaluru     Standard
19           19    Nitin Saxena   50      M      Delhi      Premium
20           20    Rekha Mishra   33      F    unknown     Standard

    annual_spend
0         120000
1          85000
2         150000
4          72000
5         132000
6          68000
7         140000
8          75000
9         110000
10         90000
11        160000
12         65000
13         80000
14        145000
15         78000
16         70000
17        155000
18         82000
19        170000
20         69000

/tmp/ipython-input-2789219144.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['city'] = new_df['city'].fillna('unknown')

# Change a single column name.

In [ ]:
new_df.columns = new_df.columns.str.upper()
print(new_df)

    CUSTOMER_ID   CUSTOMER_NAME  AGE GENDER       CITY ACCOUNT_TYPE  \
0             1      Ravi Kumar   28      M      Delhi      Premium
1             2    Anita Sharma   34      F    unknown     Standard
2             3      Suresh Rao   45      M  Bengaluru      Premium
4             4     Priya Singh   29      F    Chennai     Standard
5             5      Amit Verma   41      M    unknown      Premium
6             6      Neha Gupta   26      F    Kolkata     Standard
7             7     Rahul Mehta   37      M     Mumbai      Premium
8             8     Kavita Nair   32      F    unknown     Standard
9             9     Arjun Patel   39      M  Ahmedabad      Premium
10           10      Sunita Das   44      F    Kolkata     Standard
11           11      Manoj Iyer   51      M    Chennai      Premium
12           12  Pooja Malhotra   27      F      Delhi     Standard
13           13    Deepak Joshi   35      M    unknown     Standard
14           14  Meena Kulkarni   48      F       Pune      Premium
15           15   Rohit Agarwal   31      M      Noida     Standard
16           16      Anjali Sen   29      F    unknown     Standard
17           17    Vikas Bansal   42      M    Gurgaon      Premium
18           18     Shalini Roy   36      F  Bengaluru     Standard
19           19    Nitin Saxena   50      M      Delhi      Premium
20           20    Rekha Mishra   33      F    unknown     Standard

    ANNUAL_SPEND
0         120000
1          85000
2         150000
4          72000
5         132000
6          68000
7         140000
8          75000
9         110000
10         90000
11        160000
12         65000
13         80000
14        145000
15         78000
16         70000
17        155000
18         82000
19        170000
20         69000

#New Column with Functions

In [ ]:
print(new_df)

    CUSTOMER_ID   CUSTOMER_NAME  AGE GENDER       CITY ACCOUNT_TYPE  \
0             1      Ravi Kumar   28      M      Delhi      Premium
1             2    Anita Sharma   34      F    unknown     Standard
2             3      Suresh Rao   45      M  Bengaluru      Premium
4             4     Priya Singh   29      F    Chennai     Standard
5             5      Amit Verma   41      M    unknown      Premium
6             6      Neha Gupta   26      F    Kolkata     Standard
7             7     Rahul Mehta   37      M     Mumbai      Premium
8             8     Kavita Nair   32      F    unknown     Standard
9             9     Arjun Patel   39      M  Ahmedabad      Premium
10           10      Sunita Das   44      F    Kolkata     Standard
11           11      Manoj Iyer   51      M    Chennai      Premium
12           12  Pooja Malhotra   27      F      Delhi     Standard
13           13    Deepak Joshi   35      M    unknown     Standard
14           14  Meena Kulkarni   48      F       Pune      Premium
15           15   Rohit Agarwal   31      M      Noida     Standard
16           16      Anjali Sen   29      F    unknown     Standard
17           17    Vikas Bansal   42      M    Gurgaon      Premium
18           18     Shalini Roy   36      F  Bengaluru     Standard
19           19    Nitin Saxena   50      M      Delhi      Premium
20           20    Rekha Mishra   33      F    unknown     Standard

    ANNUAL_SPEND
0         120000
1          85000
2         150000
4          72000
5         132000
6          68000
7         140000
8          75000
9         110000
10         90000
11        160000
12         65000
13         80000
14        145000
15         78000
16         70000
17        155000
18         82000
19        170000
20         69000

In [ ]:
new_df = pd.DataFrame(new_df)

In [ ]:
conditions = [
    new_df['ANNUAL_SPEND'] < 80000,
    (new_df['ANNUAL_SPEND'] >= 80000) & (new_df['ANNUAL_SPEND'] < 120000)
]
choices = ['low', 'medium']
new_df['SPEND_CATEGORY'] = np.select(conditions, choices, default='high')

In [ ]:
grouped_data = new_df.groupby(['CITY', 'SPEND_CATEGORY']).agg(
    total_customers=('CUSTOMER_ID', 'count'),
    average_annual_spend=('ANNUAL_SPEND', 'mean')
)
print(grouped_data)

                          total_customers  average_annual_spend
CITY      SPEND_CATEGORY
Ahmedabad medium                        1         110000.000000
Bengaluru high                          1         150000.000000
          medium                        1          82000.000000
Chennai   high                          1         160000.000000
          low                           1          72000.000000
Delhi     high                          2         145000.000000
          low                           1          65000.000000
Gurgaon   high                          1         155000.000000
Kolkata   low                           1          68000.000000
          medium                        1          90000.000000
Mumbai    high                          1         140000.000000
Noida     low                           1          78000.000000
Pune      high                          1         145000.000000
unknown   high                          1         132000.000000
          low                           3          71333.333333
          medium                        2          82500.000000

In [ ]:
new_df.to_csv('etl_analytics_ready.csv', index=False)
print('DataFrame saved to etl_analytics_ready.csv')

DataFrame saved to etl_analytics_ready.csv